.sliderLayoutContainer--home__slider {
    max-width: 1200px;
    margin: 0 auto 50px;
}
.paginationDotsContainer--home__slider {
    transform: translateY(30px);
}
.imageElement--home__slider {
    max-height: initial !important;
}