.flexRowContent--home__section--one{
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 10px;
}
.flexColChild--section__one--image {
    max-width: 600px;
}
.flexCol--section__two--item :global(.vtex-store-link-0-x-buttonLink) {
    background-color: red;
}